/*-- scss:defaults --*/

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$forest: #3A6B35;
$purple: #9158A2;
$yellow: #E3B448;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $forest; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 